html {
    color: #000;
    background: #A9A9A9;
    height: 100%;
}

.vertical-align-parent {
    position:absolute;
    top:0;
    left:0;
    right:0;     
    width: 75%;
    height: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;    
}
.vertical-align-child {
    display: table-cell;
    vertical-align: middle;

    margin-left: auto;
    margin-right: auto;    
}

.jspsych-categorize-stimulus {
    vertical-align: middle
}

#jspsych-target {
}

img {
}